/* --- General Styles --- */
body {
    font-family: 'Georgia', serif;
    background: linear-gradient(45deg, #a28181, #6d5e5e);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #010101;
}

#container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 80%; /* Changed to percentage */
    padding: 5%;
    box-sizing: content-box;
    text-align: center;
    display:contents;
    flex-direction: column;
    align-items: center;
}

/* --- Menu Styles --- */
#menu {
    background-color: #463f3f;
    color: #fff;
    padding: 30px;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease-in-out;
}

#menu h2 {
    margin-bottom: 30px;
    font-size: 28px;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu li {
    margin-bottom: 15px;
}

#menu a {
    text-decoration: none;
    color: #b69898;
    font-size: 20px;
    transition: color 0.3s;
}

#menu a:hover {
    color: #463f3f;
}


/* --- Content Styles --- */
#content {
    flex-grow: 1;
    padding-left: 15%;
    align-items: center;
    transition: padding-left 0.3s ease-in-out;
}

#menu.open ~ #content {
    padding-left: 20%; /* Changed to percentage */
}

h1 {
    color: #333;
    font-size: 2.5em; /* Changed to viewport width units */
    margin-bottom: 50px; /* Changed to percentage */
}

/* --- Input and Button Styles --- */
label {
    display: block;
    margin-bottom: 15px; /* Changed to percentage */
    color: #020202;
    font-weight: bold;
}

input {
    width: 30%; /* Set the width to 40% */
    padding: 12px;
    margin-bottom: 10px; /* Changed to percentage */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2em; /* Changed to viewport width units */
    font-family: inherit;
    align-items: center;
    align-self: center;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 1% 1%; /* Changed to percentage */
    border: none;
    border-radius: 2vw; /* Changed to viewport width units */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #2980b9;
}

/* --- Task Manager Styles --- */
#taskManager {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: contents;
}

/* --- Task Item Styles --- */
.task-item {
    margin-bottom: 5%; /* Changed to percentage */
    padding: 5%;
    background-color: #f9f9f9;
    display: contents;
}
